Package: com.hieucocc.youlite
Name: YouLite+
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Lightweight YouTube enhancement with ad blocking, SponsorBlock, background playback, PiP and Premium logo.
Maintainer: hieucocc
Author: hieucocc
Section: Tweaks
Depends: mobilesubstrate | ellekit, firmware (>= 16.0)
Homepage: https://github.com/hieucocc/YouLite
Tag: role::enduser
