Package: com.hieucocc.youlite
Name: YouLite+
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: A lightweight YouTube enhancer focused on ad blocking, background playback and Premium branding.
Maintainer: hieucocc
Author: hieucocc
Section: Tweaks
Icon: https://raw.githubusercontent.com/hieucocc/YouLite/main/Resources/icon.png
SileoDepiction: https://raw.githubusercontent.com/hieucocc/YouLite/main/Resources/depiction.json
